<div class="ml-5 mt-3">
  <h1>{{stats.data.metadata.platformUserHandle}}</h1>
  <ng-container *ngFor="let stat of stats.data.stats">
    <h5>{{ stat.metadata.name }}: {{ stat.value }}</h5>
    <h5 *ngIf="stat.rank">Ranking: {{ stat.displayRank }}</h5>
  </ng-container>
</div>

<div class="row m-4">
  <div class="col-3" *ngFor="let legend of stats.data.children">
    <mat-card class="text-center mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{legend.metadata.legend_name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class=" mat-elevation-z6" [src]="legend.metadata.icon" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <ng-container *ngFor="let stat of legend.stats">
          <h5 class="ml-3">{{ stat.metadata.name }}: {{ stat.value }}</h5>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
