<mat-toolbar color="primary">
  <img width="70" src="./../assets/apex-legends-logo-white.png">
  <h2 class="ml-5">Stats Tracker</h2>
</mat-toolbar>

<mat-toolbar style="height: 100px;" class="mt-3" color="primary">
  <mat-form-field style="width: 400px">
    <span>Username : </span>
    <input matInput>
  </mat-form-field>


  <mat-radio-group class="ml-5">
    <span class="ml-5">Platform : </span>
    <mat-radio-button class="ml-2" value="1">Xbox</mat-radio-button>
    <mat-radio-button class="ml-5" value="2">PS4</mat-radio-button>
    <mat-radio-button class="ml-5" value="5">Origin / PC</mat-radio-button>
  </mat-radio-group>

</mat-toolbar>
