<div class="hero" style="height: 320px;">
  <div style="text-align: right">
    <h1 class="pt-2 mr-5">Apex Legends Stats Tracker</h1>
  </div>

  <div style="width: 230px; background-color:white" class="text-center p-2 ml-3 mr-5 float-right mat-elevation-z6">
    <mat-form-field class="ml-1 " style="width: 200px">
      <input matInput placeholder="Username">
    </mat-form-field>
    <br>
    <mat-form-field class="ml-1" style="width: 200px;">
      <mat-select placeholder="Platform">
        <mat-option value="5">Origin / PC</mat-option>
        <mat-option value="1">Xbox</mat-option>
        <mat-option value="2">PS4</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary">Search</button>
    <br>
  </div>
</div>
