/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family: 'Teko', sans-serif !important;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 10px;
}

.ml-4 {
  margin-left: 12px;
}

.ml-5 {
  margin-left: 15px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 10px;
}

.mt-4 {
  margin-top: 12px;
}

.mt-5 {
  margin-top: 15px;
}
